/* line 4, ../../../../../Users/msherman/Sites/tbe-test/web/modules/custom/tbe_base_paragraphs/scss/components/paragraphs/_carousel.scss */
.slick-container button:before {
  color: #20639B;
  opacity: 1;
}

/* line 12, ../../../../../Users/msherman/Sites/tbe-test/web/modules/custom/tbe_base_paragraphs/scss/components/paragraphs/_carousel.scss */
.slick-container .slick-slide-item {
  margin: .25em;
}

/* line 1, ../../../../../Users/msherman/Sites/tbe-test/web/modules/custom/tbe_base_paragraphs/scss/components/paragraphs/_columns.scss */
.graybg {
  background-color: #ecebeb;
}

/* line 5, ../../../../../Users/msherman/Sites/tbe-test/web/modules/custom/tbe_base_paragraphs/scss/components/paragraphs/_columns.scss */
.centeredcontent {
  text-align: center;
}

/* line 18, ../../../../../Users/msherman/Sites/tbe-test/web/modules/custom/tbe_base_paragraphs/scss/components/paragraphs/_tabs.scss */
.tabs-content .tabs-panel .grid-margin-x {
  margin-left: 0;
  padding-left: 0;
}

/*# sourceMappingURL=style.css.map */