<table class="inlinetable {{content.field_mobile_display.0}} {{content.field_style.0}} {{content.field_padding_option.0}}">
  {% if content.field_table_header |render %}
    <thead>
      {{content.field_table_header}}
    </thead>
  {% endif %}
  <tbody>
      {{content.field_table_rows}}
  </tbody>
</table>
