<tr>
  <td>{{content.field_certification_name}}</td>
	<td>{{content.field_certification_number}}</td>
  <td>{{content.field_certification_expiration}}</td>
	<td><a href="{% apply spaceless %}{{ content.field_file }}{% endapply %}" target="_blank"><i class="fas fa-file-pdf" aria-hidden="true"></i>View PDF</a></td>
</tr>
