<div class="imageblock {{content.field_image_visibility.0}} {{content.field_padding_option.0}}">
  <span class="{{content.field_image_style.0}}" {% if content.field_max_image_width | render %} style="max-width:{{content.field_max_image_width}}px; display: block;"{% endif %}>
    {% if content.field_image_link |render %}
      <a href="{{content.field_image_link.0}}">{{content.field_image}}</a>
    {% else %}
      {{content.field_image}}
    {% endif %}
  </span>
</div>
