<li>
  <a href="{% apply spaceless %}{{ content.field_file }}{% endapply %}" class="document" target="_blank">
    <span class="fas fa-{{content.field_button_icon.0}} icon-symbol" aria-hidden="true"></span>
    {{ content.field_file_name }}
    <span class="fas fa-chevron-right" aria-hidden="true"></span>
  </a>
</li>
