{% if paragraph.field_table_cell_icon.0.value == 'check' |render %}
  <span class="fas fa-check {{content.field_icon_color.0}}" aria-hidden="true"></span> <span class="sr-only">Yes</span>
{% endif %}

{% if paragraph.field_table_cell_icon.0.value == 'circlecheck' |render %}
  <span class="fas fa-check-circle {{content.field_icon_color.0}}" aria-hidden="true"></span> <span class="sr-only">Yes</span>
{% endif %}

{% if paragraph.field_table_cell_icon.0.value == 'times' |render %}
  <span class="fas fa-times {{content.field_icon_color.0}}" aria-hidden="true"></span> <span class="sr-only">No</span>
{% endif %}
