<table class="certification-table">
  <thead>
		<tr>
			<th scope="col" style="width: 40%"><span class="show-for-medium">Certifications &amp; Accreditations</span><span class="show-for-small-only">Name</span></th>
			<th scope="col" style="width: 18%;">Number</th>
      <th scope="col" style="width: 20%">Expiration</th>
			<th scope="col" style="width: 20%">PDF</th>
		</tr>
	</thead>
  <tbody>
    {{content.field_certifications}}
  </tbody>
</table>
