<a class="btn button {{content.field_button_color.0}}" href="{% apply spaceless %}{{ content.field_file }}{% endapply %}{% if content.field_utm_string|render %}{% apply spaceless %}{{content.field_utm_string}}{% endapply %}{% endif %}" target="_blank" aria-label="{{content.field_screen_reader_text}}">

    <span class="fas fa-{{content.field_button_icon.0}}" aria-hidden="true"></span>

    {{ content.field_button_text }}
</a>
