{% set randomID =  random()  %}
<ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="{{ randomID }}-tabs">
  {% for item in paragraph.field_tab %}
   <li class="tabs-title {% if loop.first %} is-active{% endif %}"><a href="#panel{{ loop.index0 }}" {% if loop.first %} aria-selected="true"{% endif %}>{{ item.entity.field_label.value }}</a></li>
  {% endfor %}
</ul>


<div class="tabs-content" data-tabs-content="{{ randomID }}-tabs">
  {% for item in paragraph.field_tab %}
    <div class="tabs-panel {% if loop.first %} is-active{% endif %}" id="panel{{ loop.index0 }}">
      <div class="grid-x grid-margin-x">
        {{ drupal_entity('paragraph', item.target_id) }}
      </div>
    </div>
  {% endfor %}

</div>
