{% if content.field_column_span |render %}
  <th class="{{content.field_cell_background_color.0}} {{content.field_cell_alignment_new.0}}" colspan="{{content.field_column_span}}">
{% else %}
  <th class="{{content.field_cell_background_color.0}} {{content.field_cell_alignment_new.0}}">
{% endif %}
  {{content.field_cell_content}}
</th>
