<div class="document-link-container {{content.field_padding_option.0}}">
  <ul class="no-bullet {{content.field_number_of_columns.0}} {{content.field_link_style.0}}">
    {{content.field_document}}
  </ul>
</div>
