<section class="content-section  {{content.field_background_color.0}} {{content.field_padding_option.0}} {{content.field_reverse_order_of_columns_i.0}}">
  <div class="grid-container column-container" >
    <div class="grid-x grid-margin-x ">
      {{content.field_columns}}
    </div>
  </div>
</section>
