<nav class="side-menu" aria-labelledby="side-menu-label">
  <h2 id="side-menu-label" class="show-for-sr">Secondary Navigation</h2>
  {% if paragraph.field_menu.0.value == 'main' |render %}
    {{ drupal_menu('main', 1, 6, TRUE) }}
  {% elseif paragraph.field_menu.0.value == 'utility' |render %}
      {{ drupal_menu('utility-menu', 1, 2) }}
  {% endif %}
</nav>
