{% if content.field_column_span |render %}
  <td class="{{content.field_cell_background_color.0}} {{content.field_cell_alignment_new.0}} " colspan="{{content.field_column_span}}">
{% else %}
  <td class="{{content.field_cell_background_color.0}} {{content.field_cell_alignment_new.0}} ">
{% endif %}
  {{content.field_cell_content}}
</td>
