<li class="accordion-item" data-accordion-item>
  <a href="#" class="accordion-title">{{content.field_accordion_item_title}}</a>
  <div class="accordion-content" data-tab-content>
    <div class="grid-x grid-margin-x">
      {{content.field_accordion_content}}
    </div>
  </div>
</li>
