.tabs {

  .tabs-title {

    a {

    }
    &.is-active {
      a {

      }
    }
  }
}
.tabs-content {

  .tabs-panel {
    .grid-margin-x {
      margin-left: 0;
      padding-left: 0;
    }
  }
}
